{% extends 'noticias/index.html' %}
{% load static %}

{% block title %} Pesquisa noticias {% endblock %}
{% block content %}

 
   
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          {% if query %}
            <h1> Noticias contendo a palavra "{{query}}"</h1>
            <h3>{% with results.count as total_results %}
              {{total_results}} Encontrado{{total_results|pluralize}}
              {% endwith %}
            </h3>
            <hr>
            {% for noticia in results %}
            <h4><a href="{{ noticia.get_absolute_url}}">{{noticia.titulo}}</a></h4>
            <p class="post-meta">Publicado por
              <a href="#">{{ noticia.fonte }}</a>
              em {{ noticia.data_noticia}}</p>
            
            <hr>
            {% empty %}
              <p>Não há resultaods para a pesquisa.</p>
            {% endfor %}
            
            
           
          {% else %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <p> Noticia não encontrada</p>
            </div>
          {% endif %}
          </div>
          
        </div>
        <div class="sidebar">
          <h5 class="card-header">Procurar notícia</h5>
          <div class="card-body">
            <div class="input-group">
              <form action="{% url 'noticias:procurar_noticias' %}">
                <input type="text" class="form-control" name="query" placeholder="Procurar por...">
                <button class="btn btn-secondary" type="submit">Ir!</button>
              </form>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div> 
  
{% endblock%}


