<!-- Sidebar Widgets Column -->
<div class="col-md-4">
  <div class="card my-4">
    <h5 class="card-header">Procurar</h5>
    <div class="card-body">
      <form action="{% url 'noticias:procurar_noticias' %}">
        <div class="input-group">
          <input type="text" class="form-control" name="query" placeholder="Procurar por...">
          <span class="input-group-append">
            <button class="btn btn-primary p-1" type="submit">Buscar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">

            <li>
              <a href="{% url 'noticias:noticias_por_veiculo' 'Ebc' %}">Agência Brasil</a>
            </li>
            <li>
              <a href="{% url 'noticias:noticias_por_veiculo' 'Portal_G1' %}">Portal G1</a>
            </li>
            <li>
              <a href="{% url 'noticias:noticias_por_veiculo' 'Uol' %}">Uol</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>